



.three-column {
    background: #291813;
    display: grid;
    gap: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    padding: 5rem;

}
.container {

    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    
}




nav{
    grid-area: nav;
   
}

main{
    background: #291813;
    grid-area: main;
    
}

#content1{
    grid-area:content1;
    
}

#content2{
    grid-area: content2;
    
}

#content3{
    grid-area: content3;
    
}

footer{
    grid-area: footer;


}

p
{
    font-weight: 300;
    color: #EFE2D3;
    list-style: none;
}


.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/coffee.jpg);
}
.banner .content
{
    max-width: 900px;
    text-align: center;
    color: #fff;
}

.banner .content h1
{
    text-align: center;
    font-size: 60px;
}

.banner .content h2
{
    font-size: 5rem;
    color: #fff;

}

.banner .content p
{
    max-width: 500px;
    font-size: 1rem;
    color: #fff;
}

.btn
{
    font-size: 1rem;
    color: #EFE2D3;
    background: #4F9AE5;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;

}

.btn:hover
{
    letter-spacing: 6px;
    color: #291813;

}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    
}
header.sticky
{
    background: #291813;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header .logo
{
    margin-left: 1rem;
    color: #EFE2D3;
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;

}

header .logo:hover
{
    color: #4F9AE5;

}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
    margin-left: 30px;

}

header .navigation li a
{
    text-decoration: none;
    color: #EFE2D3;
    font-weight: 300;
    transition: 0.5s;
    padding: 10px 30px;
}

header.sticky .navigation li a
{
   color: #EFE2D3; 

}

header .navigation li a:hover
{
    color: #4F9AE5;
    text-decoration: underline;
    letter-spacing: 3px;
    transition: 0.5s;
}

section
{
    padding: 0px;

}

.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;

}


div {
    column-gap: 30px;
}

.titleText
{
    background: #4F9AE5;
    color: #EFE2D3;
    font-size: 2rem;
    font-weight: 300;
    padding: 50px 10px;
    text-align: center;
}

.titleText span
{
    text-align: center;
    color: #EFE2D3;
    font-weight: 700;
    font-size: 1.5rem;
  

   
}

/* Mobile Responsive layout - when screen is less than 600px wide, stack columns */
@media only screen and (min-width: 800px) {
    .three-column{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.4fr 3fr 3fr 1.6fr;
        grid-template-areas: 
            "nav"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";

    }
    nav ul {
        display: flex;
    }
}
