* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}


.three-column {
    grid-area: main;
    width: 100%;
    background: #291813;
    color: #EFE2D3;
    display: grid;
    max-width: 1500px;
    padding: 3rem 3rem;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
    list-style: none;
    column-gap: 30px;


}

.three-column .column1 {
    text-align: center;
}


.three-column .column2 {
    text-align: center;
}

.three-column .column3 {
    text-align: center;
}


#content{
    grid-area:content1;
    
}

#content{
    grid-area: content2;
    
}

#content{
    grid-area: content3;
    
}

footer{
    background: #EFE2D3;
    grid-area: footer;
    display: flex;
    padding: 1rem 1rem;
    width: 100%;
    min-height: 70vh;


}

p
{
    font-weight: 300;
    color: #EFE2D3;
    list-style: none;
}

body{
    min-height: 1000;

}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(/img/coffee.jpg);
}
.banner .content
{
    max-width: 900px;
    text-align: center;
    color: #EFE2D3;
}

.banner .content h1
{
    text-align: center;
    font-size: 60px;
    padding: 2rem;
    
}

.banner .content h2
{
    font-size: 5rem;
    color: #EFE2D3;

}

.banner .content p
{
    max-width: 500px;
    font-size: 1rem;
    color: #EFE2D3;
}

.btn
{
    font-size: 1rem;
    color: #EFE2D3;
    background: #4F9AE5;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;

}

.btn:hover
{
    letter-spacing: 6px;
    color: #291813;
    border-radius: 50px;

}

a{
    text-decoration:none;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 50px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;

}

header.sticky{
    background: #EFE2D3;
    padding: 30px 50px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

header.sticky .logo
{
    color: #291813;
}

header .logo
{
    color: #EFE2D3;
    font-weight: 700;
    font-size: 1.5rem;
    text-decoration: none;
}

header .navigation
{
    position: relative;
    display: flex;
}

header .navigation li
{
    list-style: none;
    margin-left: 30px;
}

header .navigation li a
{
    text-decoration: none;
    padding: 1rem;
    color: #fff;
    font-size: 1rem
}

header.sticky .navigation li a
{
    color: #291813;
}

header .navigation li a:hover
{
    letter-spacing: 5px;
    color: #4F9AE5;
    transition: 0.5s;
}


section
{
    padding: 0px;

}


.row
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    right: 0;

}



.row .col50
{
    position: relative;
    width: 100%;

}

.titleText
{
    background: #291813;
    color: #EFE2D3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 300px;
    padding: 70px 10px;
    text-align: center;

}


/* Mobile Responsive layout - when screen is less than 600px wide, stack columns */
@media only screen and (min-width: 800px) {
    .three-column{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr 3fr 3fr;
        grid-template-areas: 
            "nav"
            "content"
            "main"
            "content1"
            "content2"
            "content3"
            "footer";

    }
    nav ul {
        display: flex;
    }
}
