
  
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: burlywood;
  color: #fff;
}

.nav-links a {
  color: #fff;

}

.menu {
  display: flex;
  gap: 10rem;
  font-size: 18px;

}

.title {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 5rem 5rem;
  gap: 30px;
}


  
  