* {
  text-decoration: none;
  list-style: none;
}


.three-column {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  background: #fff;
  gap: 2rem;
  width: 93%;
  text-align: center;
  margin: 0 auto;
  padding: 3rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}


.apptitle {
  font-size: 18px;
  position: relative;
  text-align: left;
  text-decoration: none;
  list-style: none;
}

.h3 {
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
  padding-bottom: 10px;
  text-align: left;
}


header .nav-links {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin: 1rem 1rem;
  padding-top: 1rem;
  padding-left: 5rem;
  padding-right: 6rem;
  display: flex;
  justify-content: space-between;
  color: black;
}

ul {
  list-style: none;
}

.nav-links li a {
  color: black;

}

.title {
  padding-bottom: 3rem;
  padding-top: 4rem;
}

.container h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  text-align: left;
  padding-left: 6rem;
}


.container h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 6rem;
  text-align: left;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
}

.container p{
  font-family: Arial, Helvetica, sans-serif;
  max-width: 400px;
  margin-top: 2rem;
  margin-left: 6rem;
  margin-right: 6rem;
  justify-content: left;
  
}



/* phone screen */
@media screen and (min-width: 800px) {
  .three-column {
    grid-template-columns: 1fr;


  }
}

  nav ul {
    display: flex;
  }

/* desktop screen */
@media screen and (min-width: 1200px) {
  .three-column {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
}


  
  