
.three-column {
  display: grid;
  background: #fff;
  gap: 2rem;
  max-width: 1450px;
  margin: 0 auto;
  padding: 3rem;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  color: #fff;
}

.nav-links a {
  color: #fff;

}

.title {
  margin-top: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  margin: 5rem 5rem;
  gap: 30px;
}

/* phone screen */
@media screen and (min-width: 800px) {
  .three-column {
    grid-template-columns: 1fr;

  }
}

  nav ul {
    display: flex;
  }

/* desktop screen */
@media screen and (min-width: 1200px) {
  .three-column {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}
  
  